---
import type { WriteInputTypeAttributeType } from "@lib/types";

interface Props {
  id: string;
  type?: WriteInputTypeAttributeType;
  className?: string;
  placeholder?: string;
  label?: string;
}

const {
  id,
  type = "text",
  className = "",
  placeholder = "",
  label = "",
} = Astro.props;
---

<div class="relative w-full">
  <label class="absolute top-0 left-4 -translate-y-[45%] bg-white text-black-800 px-2 text-sm" for={id}
    >{label}</label
  >
  <input
    id={id}
    name={id}
    type={type}
    placeholder={placeholder}
    class={`w-full rounded-xl py-5 px-4 border border-black-800/50 font-[inherit] focus:border-black transition-colors duration-300 ${className}`}
    spellcheck="false"
    autocomplete="off"
  />
</div>
