---
import NavArrowDownIcon from "@icons/NavArrowDownIcon.astro";

interface Props {
  id: string;
  className?: string;
  label?: string;
  options: { value: string; label: string }[];
}

const { id, className = "", label = "", options = [] } = Astro.props;
---

<div
  class="relative w-full"
  data-id="custom-select-wrapper"
  data-is-open="false"
>
  <label
    class="absolute top-0 left-4 -translate-y-[45%] bg-white text-black-800 px-2 text-sm"
    for={id}>{label}</label
  >
  <select
    name={id}
    id={id}
    class={`w-full rounded-xl py-5 px-4 border border-black-800/50 font-[inherit] focus:border-black transition-colors duration-300 cursor-pointer ${className}`}
  >
    {
      options.map((option) => (
        <option value={option?.value}>{option?.label}</option>
      ))
    }
  </select>
  <NavArrowDownIcon
    className="absolute top-[50%] right-4 -translate-y-[50%] text-black-800 pointer-events-none"
  />
</div>
