---
interface Props {
  id: string;
  className?: string;
  label?: string;
  rows?: number;
}

const {
  id,
  className = "",
  label = "",
  rows = 5
} = Astro.props;
---

<div class="relative w-full">
  <label
    class="absolute top-0 left-4 -translate-y-[45%] bg-white text-black-800 px-2 text-sm"
    for={id}>{label}</label
  >
  <textarea
    id={id}
    name={id}
    class={`w-full rounded-xl py-5 px-4 border border-black-800/50 font-[inherit] focus:border-black transition-colors duration-300 ${className}`}
    spellcheck="false"
    autocomplete="off"
    rows={rows}
    >
  </textarea>
</div>
